/* line 10, sass/styles.scss */
html, body {
  overflow-x: hidden;
}

/* line 14, sass/styles.scss */
body {
  background: #F7FFEC;
  color: #333;
  font-family: "Helvetica", sans-serif;
  display: grid;
}

/* line 21, sass/styles.scss */
ul {
  font-size: 20px;
  font-family: 'helvetica', sans-serif;
  color: #333;
  margin: 2em auto;
  padding: 0;
}

/* line 29, sass/styles.scss */
ul li {
  list-style: none;
}

/* line 33, sass/styles.scss */
ul li a {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  transition: .1s ease-in;
}

/* line 39, sass/styles.scss */
ul li a:hover {
  color: #fcba56;
}

/* line 42, sass/styles.scss */
.excerpt {
  display: inline-grid;
  vertical-align: middle;
  text-align: center;
  top: 50%;
  left: 45%;
  position: absolute;
}

/* line 50, sass/styles.scss */
ul.commentlist {
  opacity: 0;
}

/* line 56, sass/styles.scss */
.live_search_container {
  height: 60px;
  width: 100vw;
  padding: 0 2em;
  background: #3D3D3D;
}
/* line 62, sass/styles.scss */
.live_search_container h1.smaller {
  display: none;
}
/* line 65, sass/styles.scss */
.live_search_container h1.larger {
  display: inline-block;
}
/* line 68, sass/styles.scss */
.live_search_container h1, .live_search_container form, .live_search_container button, .live_search_container .fa {
  display: inline-block;
}
/* line 71, sass/styles.scss */
.live_search_container h1 {
  font-size: 20px;
  color: #F7FFEC;
}
/* line 75, sass/styles.scss */
.live_search_container .btn {
  font-size: 33px;
  box-shadow: -8px -22px 63px rgba(0, 0, 0, 0.73);
}

/* line 81, sass/styles.scss */
#live-search {
  margin-left: 20px;
  position: relative;
  top: -4px;
}
/* line 86, sass/styles.scss */
#live-search :focus {
  outline: none;
}

/* line 90, sass/styles.scss */
input#filter {
  height: 4.6em;
  width: 71vw;
  position: relative;
  left: -5px;
}

@media only screen and (max-width: 1199px) {
  /* line 102, sass/styles.scss */
  .live_search_container {
    height: 100%;
  }
  /* line 105, sass/styles.scss */
  .live_search_container .btn {
    margin-left: 10px;
    font-size: 30px;
    box-shadow: none;
  }

  /* line 111, sass/styles.scss */
  #live-search {
    margin: 20px auto 10px;
  }

  /* line 114, sass/styles.scss */
  input#filter {
    height: 4em;
    top: 2px;
  }
}
/* Portrait and Landscape - IPAD */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 121, sass/styles.scss */
  .live_search_container {
    height: 100%;
  }
  /* line 123, sass/styles.scss */
  .live_search_container h1 {
    margin: 0;
  }
  /* line 126, sass/styles.scss */
  .live_search_container h1.larger {
    margin: 20px auto;
    display: inline-block;
  }
  /* line 130, sass/styles.scss */
  .live_search_container .btn {
    font-size: 100%;
    box-shadow: none;
  }
  /* line 134, sass/styles.scss */
  .live_search_container input#filter {
    height: 33.33333333333px;
    top: 1px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-device-width: 767px) {
  /* line 144, sass/styles.scss */
  .live_search_container {
    height: 100%;
  }
  /* line 146, sass/styles.scss */
  .live_search_container h1 {
    margin: 0;
  }
  /* line 149, sass/styles.scss */
  .live_search_container h1.larger {
    margin-top: inherit;
  }
  /* line 152, sass/styles.scss */
  .live_search_container .btn {
    font-size: 100%;
    box-shadow: none;
  }
  /* line 156, sass/styles.scss */
  .live_search_container input#filter {
    height: 33.33333333333px;
    top: 1px;
    margin-top: 20px;
  }

  /* line 162, sass/styles.scss */
  #live-search {
    margin: 0 auto 20px;
    position: relative;
  }
}
/* Portrait and Landscape - IPHONE */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 170, sass/styles.scss */
  .live_search_container {
    height: 100%;
  }
  /* line 172, sass/styles.scss */
  .live_search_container h1.smaller {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  /* line 176, sass/styles.scss */
  .live_search_container h1.larger {
    display: none;
  }
  /* line 179, sass/styles.scss */
  .live_search_container h1 {
    font-size: 20px;
  }
  /* line 182, sass/styles.scss */
  .live_search_container .btn {
    font-size: 35px;
    box-shadow: inherit;
  }
  /* line 186, sass/styles.scss */
  .live_search_container input#filter {
    width: 50vw;
    height: 10vh;
    padding: 0;
  }
}
